<template>
  	<div class="sys_composer">
		<div class="filter_section">
			<div class="search_input">
				<input class="filter_input" placeholder="Type to Search" type="text">
			</div>
			<div class="action_btn">
				<button><i class="fa fa-filter"></i></button>
				<button class="add_btn"><i class="fa fa-plus"></i> Add New</button>
			</div>
		</div>

		<div class="composer_list">
			<table>
				<thead>
					<tr>
						<th width="20%">
							Last Name
							<span class="caret_wrapper">
								<i class="sort_caret ascending"></i>
								<i class="sort_caret descending"></i>
							</span>
						</th>
						<th width="20%">
							First Name
							<span class="caret_wrapper">
								<i class="sort_caret ascending"></i>
								<i class="sort_caret descending"></i>
							</span>
						</th>
						<th width="15%">
							From Year
							<span class="caret_wrapper">
								<i class="sort_caret ascending"></i>
								<i class="sort_caret descending"></i>
							</span>
						</th>
						<th width="15%">
							To Year
							<span class="caret_wrapper">
								<i class="sort_caret ascending"></i>
								<i class="sort_caret descending"></i>
							</span>
						</th>
						<th width="15%">
							Country
							<span class="caret_wrapper">
								<i class="sort_caret ascending"></i>
								<i class="sort_caret descending"></i>
							</span>
						</th>
						<th width="15%">
							Action
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Test</td>
						<td>Test</td>
						<td>Test</td>
						<td>Test</td>
						<td>Test</td>
						<td>
							<button class="view_btn">
								<i class="fa fa-eye"></i>
							</button>
							<button class="edit_btn">
								<i class="fa fa-edit"></i>
							</button>
							<button class="delete_btn">
								<i class="fa fa-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
export default {
  name: 'Composers',
  data () {
    return {
      msg: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.sys_composer {
	margin: 70px 10px 10px;
	padding: 20px;
	background: #fff;
	border: 1px solid #00000010;
	.filter_section {
        display: inline-flex;
        width: 100%;
		.search_input {
			width: 70%;
		}
		.action_btn {
			width: 30%;
			text-align: right;
		}
		input {
			width: 70%;
			padding: 10px;
			border-radius: 30px;
			border: solid 1px #d3d3d3;
			margin-right: 10px;
		}
		button {
			margin: 0 5px;
			border-radius: 5px;
			background: #fff;
			border: solid 1px #d3d3d3;
			cursor: pointer;
			color: #313435;
			padding: 11px;
			&.add_btn {
				background: #fff!important;
				color: #313435!important;
				border: solid 1px #d3d3d3!important;
				padding: 11px 30px;
				border-radius: 20px;
			}
		}
    }
	.composer_list {
        margin-top: 30px;
		table {
			width: 100%;
			border-collapse: collapse;
			font-size: 13px;
			thead {
				background: #f5f5f5;
			}
			td,th {
				text-align: left;
				padding: 10px;
			}
			tr {
				border: 1px solid #d3d3d3;
			}
		}
		.view_btn {
			background: #fff;
			padding: 8px;
			border-radius: 5px;
			border: solid 1px #c0c4cc;
			cursor: text;
		}
		.edit_btn {
			background: #68b968;
			padding: 8px;
			border-radius: 5px;
			border: solid 1px #68b968;
			cursor: pointer;
			color: #fff;
		}
		.delete_btn {
			background: #e07f7f;
			padding: 8px;
			border-radius: 5px;
			border: solid 1px #e07f7f;
			cursor: pointer;
			color: #fff;
		}
    }
}
</style>
