<template>
<div class="sys_repertoire">
    <div class="filter_section">
        <div class="search_input">
            <input class="filter_input" placeholder="Type to Search" type="text">
        </div>
        <div class="action_btn">
            <button><i class="fa fa-filter"></i></button>
            <button class="add_btn" @click="show_modal = show_modal == 1 ? 0 : 1"><i class="fa fa-plus"></i> Add New</button>
        </div>
    </div>
    
    <div class="repertoire_list">
        <table>
            <thead>
                <tr>
                    <th width="10%">
                        Opus Nr.
                        <span class="caret_wrapper">
                            <i class="sort_caret ascending"></i>
                            <i class="sort_caret descending"></i>
                        </span>
                    </th>
                    <th width="15%">
                        Song Name
                        <span class="caret_wrapper">
                            <i class="sort_caret ascending"></i>
                            <i class="sort_caret descending"></i>
                        </span>
                    </th>
                    <th width="10%">
                        Tempo
                        <span class="caret_wrapper">
                            <i class="sort_caret ascending"></i>
                            <i class="sort_caret descending"></i>
                        </span>
                    </th>
                    <th width="14%">
                        Category
                        <span class="caret_wrapper">
                            <i class="sort_caret ascending"></i>
                            <i class="sort_caret descending"></i>
                        </span>
                    </th>
                    <th width="14%">
                        Compose
                        <span class="caret_wrapper">
                            <i class="sort_caret ascending"></i>
                            <i class="sort_caret descending"></i>
                        </span>
                    </th>
                    <th width="12%">
                        Voice Type
                        <span class="caret_wrapper">
                            <i class="sort_caret ascending"></i>
                            <i class="sort_caret descending"></i>
                        </span>
                    </th>
                    <th width="10%">
                        key
                        <span class="caret_wrapper">
                            <i class="sort_caret ascending"></i>
                            <i class="sort_caret descending"></i>
                        </span>
                    </th>
                    <th width="15%">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>
                        <button class="view_btn">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button class="edit_btn">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="delete_btn">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <transition name="repertoire_modal">
    <div class="sys_modal" v-if="show_modal == 1">
        <div class="header_container">
            Modal header Title
            <!-- <i @click="show_modal = 0" class="fa fa-times"></i> -->
        </div>
        <div class="body_container">
            <div class="sys_tab">
                <button class="tablinks" :class="tab_active == 'basicinfo' ? 'active' : ''" @click="tab_active = 'basicinfo' ">Basic Info</button>
                <button class="tablinks" :class="tab_active == 'score' ? 'active' : ''" @click="tab_active = 'score' ">Score</button>
                <button class="tablinks" :class="tab_active == 'videolink' ? 'active' : ''" @click="tab_active = 'videolink' ">Video Link</button>
            </div>

            <div id="basicinfo" :class="tab_active == 'basicinfo' ? 'active' : ''" class="sys_tabcontent">
                <form>
                    <div class="input_group full">
                        <label>Song Name</label>
                        <input type="text" />
                    </div>
                    <div class="input_group half">
                        <label>Opus No.</label>
                        <div class="selector">
                            <select>
                                <option>Select One</option>
                            </select>
                        </div>
                    </div>
                    <div class="input_group half">
                        <label>Tempo</label>
                        <select>
                            <option>Select One</option>
                        </select>
                    </div>
                    <div class="input_group half">
                        <label>Composer</label>
                        <div class="selector">
                            <select>
                                <option>Select One</option>
                            </select>
                        </div>
                    </div>
                    <div class="input_group half">
                        <label>Category</label>
                        <select>
                            <option>Select One</option>
                        </select>
                    </div>
                    <div class="input_group half">
                        <label>Language</label>
                        <div class="selector">
                            <select>
                                <option>Select One</option>
                            </select>
                        </div>
                    </div>
                    <div class="input_group half">
                        <label>Difficulty Level</label>
                        <select>
                            <option>Select One</option>
                        </select>
                    </div>
                    <div class="input_group half">
                        <label>Period</label>
                        <div class="selector">
                            <select>
                                <option>Select One</option>
                            </select>
                        </div>
                    </div>
                    <div class="input_group half">
                        <label>Voice Type</label>
                        <select>
                            <option>Select One</option>
                        </select>
                    </div>
                    <div class="input_group half">
                        <label>Oper/Oratorio</label>
                        <div class="selector">
                            <select>
                                <option>Select One</option>
                            </select>
                        </div>
                    </div>
                    <div class="input_group half">
                        <label>Key</label>
                        <select>
                            <option>Select One</option>
                        </select>
                    </div>
                    <div class="input_group half">
                        <label>Role/Part</label>
                        <select>
                            <option>Select One</option>
                        </select>
                    </div>
                    <div class="input_group full">
                        <label>Specifications</label>
                        <textarea min="5"></textarea>
                    </div>
                </form>
            </div>
            <div id="score" :class="tab_active == 'score' ? 'active' : ''" class="sys_tabcontent">
                <form>
                    <div class="input_group full">
                        <label>Score</label>
                        <input type="number" />
                    </div>
                </form>
            </div>
            <div id="videolink" :class="tab_active == 'videolink' ? 'active' : ''" class="sys_tabcontent">
                <form>
                    <div class="input_group full">
                        <label>Video link</label>
                        <input type="text" />
                    </div>
                </form>
            </div>
        </div>
        <div class="footer_container">
            <button @click="show_modal = 0" class="close_btn">Close</button>
            <button class="save_btn">Save</button>
        </div>
    </div>
    </transition>

    <div id="sys_dimmer" v-if="show_modal == 1"></div>
</div>

</template>

<script>
export default {
  name: 'Repertoire',
  data () {
    return {
      show_modal: 0,
      tab_active: 'basicinfo'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.sys_repertoire {
    margin: 70px 10px 10px;
    padding: 20px;
    background: #fff;
    border: 1px solid #00000010;
    .filter_section {
        display: inline-flex;
        width: 100%;
        .search_input {
            width: 70%;
        }
        .action_btn {
            width: 30%;
            text-align: right;
        }
        input {
            width: 70%;
            padding: 10px;
            border-radius: 30px;
            border: solid 1px #d3d3d3;
            margin-right: 10px;
        }
        button {
            margin: 0 5px;
            border-radius: 5px;
            background: #fff;
            border: solid 1px #d3d3d3;
            cursor: pointer;
            color: #313435;
            padding: 11px;
            &.add_btn {
                background: #fff!important;
                color: #313435!important;
                border: solid 1px #d3d3d3!important;
                padding: 11px 30px;
                border-radius: 20px;
            }
        }
    }
    .repertoire_list {
        margin-top: 30px;
        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 13px;
            thead {
                background: #f5f5f5;
            }
            td,th {
                text-align: left;
                padding: 10px;
            }
            tr {
                border: 1px solid #d3d3d3;
            }
        }
        .view_btn {
            background: #fff;
            padding: 8px;
            border-radius: 5px;
            border: solid 1px #c0c4cc;
            cursor: text;
        }
        .edit_btn {
            background: #68b968;
            padding: 8px;
            border-radius: 5px;
            border: solid 1px #68b968;
            cursor: pointer;
            color: #fff;
        }
        .delete_btn {
            background: #e07f7f;
            padding: 8px;
            border-radius: 5px;
            border: solid 1px #e07f7f;
            cursor: pointer;
            color: #fff;
        }
    }
}
#sys_dimmer {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}    
.sys_modal {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50%;
    .header_container {
        padding: 10px;
        background: #f5f5f5;
        position: relative;
        i {
            position: absolute;
            right: 1%;
            top: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            color: #777;
            font-size: 18px;
        }
    }
    .footer_container {
        padding: 10px;
        border-bottom: solid 8px #f5f5f5;
        text-align: right;
        button {
            width: 15%;
            padding: 10px;
            text-align: center;
            border-radius: 50px;
            cursor: pointer;
            &.close_btn {
                background: #fff;
                border: solid 1px #d3d3d3;
                color: #000;
            }
            &.save_btn {
                background: #68b968;
                border: solid 1px #68b968;
                color: #fff;
            }
        }
    }
    .body_container {
        padding: 10px;
    }
}

.sys_tab {
    overflow: hidden;
    border: none;
    border-bottom: 1px solid #ccc;
    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 16px;
        font-size: 14px;
        margin: 0 5px;
        box-sizing: border-box;
        &:hover,
        &.active {
            border: none;
            border-bottom: solid 5px #e07f7f;
        }
    }
}
.sys_tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    &.active {
        display: block;
    }
    .input_group {
        margin: 10px 0;
        padding: 0 5px;
        &.full {
            width: 100%;
            box-sizing: border-box;
        }
        &.half {
            width: 50%;
            box-sizing: border-box;
            float: left;
        }
        input,
        textarea {
            width: 100%;
            border: solid 1px #d3d3d3;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 5px;
            font-size: 15px;
        }
        select {
            background-color: #fff;
            color: #000;
            padding: 10px;
            width: 100%;
            border: solid 1px #d3d3d3;
            font-size: 15px;
            -webkit-appearance: button;
            appearance: button;
            outline: none;
            box-sizing: border-box;
        }
        .selector {
            position: relative;
        }
        label {
            font-size: 13px;
            color: #777;
            width: 100%;
            display: inline-block;
        }
    }
}
#basicinfo,
#score,
#videolink {
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;
    height: 70vh;
    overflow: auto;
}

.repertoire_modal-enter-active{
    animation: modal_show ease-in-out .3s;
}
.repertoire_modal-leave-active{
    animation: reverse modal_show ease-in-out .3s;
}

@keyframes modal_show{
    0%{
        top: 40%;
        opacity: 0;
    }
    100%{
        top: 50%;
        opacity: 1;
    }
}

    /* .input_group .selector::before {
        content: "v";
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 45px;
        color: #7c7c7c;
        pointer-events: none;
    } */ 
</style>
