<template>
  	<div class="sys_settings">
        <div class="container_title">Settings</div>
        <ul class="setting_list">
            <a href="#">
                <li>
                    <i class="fa fa-exchange-alt"></i> Range
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa fa-music"></i> Sound key
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa fa-microphone"></i> Voice Type
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa fa-language"></i> Language
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa fa-sticky-note"></i> Period
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa fa-cogs"></i> Specification
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa fa-layer-group"></i> Category
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa fa-podcast"></i> Voice Suggestion
                </li>
            </a>
        </ul>
    </div>
</template>

<script>
export default {
  name: 'Settings',
  data () {
    return {
      msg: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .sys_settings {
        margin: 70px 10px 10px;
        background: #fff;
        border: 1px solid #00000010;
        .container_title {
            padding: 10px;
            background: #f5f5f5;
        }
        .setting_list {
            padding: 0 10px;
            list-style: none;
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
            a {
                color: #777;
                text-decoration: none;
            }
            li {
                box-sizing: border-box;
                float: left;
                width: calc(33.33%);
                padding: 10px;
                margin: 5px 0;
                transition: all ease-in-out .1s;
                i {
                    width: 8%;
                }
                &:hover {
                    background: #f5f5f5;
                    color: #e07f7f!important;
                }
            }
        }
    }
</style>
