<template>
    <div id="app">
        <div class="sys_container">
			<div class="sys_sidebar" :class="sidebar == 0 ? 'short' : ''">
				<div class="sidebar_logo">
					<div class="long">My Opera <span>Class</span></div>
					<div class="short">O<span>C</span></div>
				</div>
				<ul class="sidebar_items">
					<router-link :to="{ name: 'Composers'}">
						<li :class="$route.name =='Composers' ? 'active' : ''">
							<i class="fa fa-user"></i>
							<span>Composer list</span>
						</li>
					</router-link>
					<router-link :to="{ name: 'Repertoire'}">
						<li :class="$route.name =='Repertoire' ? 'active' : ''">
							<i class="fa fa-music"></i>
							<span>Repertoire</span>
						</li>
					</router-link>
					<router-link :to="{ name: 'Settings'}">
						<li :class="$route.name =='Settings' ? 'active' : ''">
							<i class="fa fa-cogs"></i>
							<span>Settings</span>
						</li>
					</router-link>
				</ul>
			</div>

			<div class="sys_body" :class="sidebar == 0 ? 'long' : ''">
				<div class="sys_navbar">
					<div class="nav_left">
						<div class="nav_bars">
							<i @click="sidebar = (sidebar == 1) ? 0 : 1 " class="fa fa-bars"></i>
						</div>
					</div>
					<div class="nav_right">
						<ul class="nav_items">
							<li class="sys_flex"><img src="https://randomuser.me/api/portraits/men/10.jpg"></li>
						</ul>
					</div>
				</div>
				<router-view></router-view>
			</div>
		</div>
    </div>
</template>

<script>
export default{
	name: 'App',
	data(){
		return{
			sidebar: 1
		}
	},
	methods:{
	}
}
</script>

<style lang="scss">
$maincolor: #e07f7f;
body {
	font-family: 'Nunito', sans-serif;
	background: #f9fafb!important;
	margin: 0;
	.sys_container {
		box-sizing: border-box;
		.sys_sidebar {
			width: 280px;
			background: #fff;
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			transition: all ease-in-out .3s;
			.sidebar_logo {
				padding: 15px;
				text-align: center;
				font-size: 20px;
				font-weight: 700;
				border-bottom: 1px solid #00000010;
				border-right: 1px solid #00000010;
				white-space: nowrap;
				overflow: hidden;
				span {
					color: $maincolor;
				}
				.short{
					display: none;
				}
			}
			.sidebar_items {
				list-style: none;
				padding: 30px 0 30px 20px;
				color: #72777a;
				border-right: 1px solid #00000010;
				margin: 0;
				a{
					text-decoration: none;
					color: #72777a;
				}
				li {
					padding: 15px;
					cursor: pointer;
					transition: all ease-in-out .3s;
					white-space: nowrap;
					overflow: hidden;
					i {
						width: 30px;
					}
					&:hover {
						color: #313435;
					}
					&.active {
						border-right: solid 5px $maincolor;
						color: #313435;
						i {
							color: $maincolor;
						}
					}
				}
			}
			&.short{
				width: 80px;
				.sidebar_logo .short{
					display: block;
				}
				.sidebar_logo .long{
					display: none;
				}
				.sidebar_items li span{
					display: none;
				}
			}	 
		}
		.sys_body {
			padding-left: 280px;
			transition: all ease-in-out .3s;
			.sys_navbar {
				background: #fff;
				padding: 15px;
				display: inline-block;
				position: fixed;
				box-sizing: border-box;
				border-bottom: 1px solid #00000010;
				width: calc(100% - 280px);
				top: 0;
				right: 0;
				transition: all ease-in-out .3s;
				.nav_left {
					float: left;
				}
				.nav_right {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translate(-50%, -50%);
				}
				.nav_bars {
					color: #72777a;
					cursor: pointer;
					padding: 0 0 0 10px;
					font-size: 20px;
				}
				.nav_items {
					list-style: none;
					display: inline-block;
					padding: 0;
					margin: 0;
					li {
						display: inline-block;
						img {
							width: 2rem;
							border-radius: 50%;
						}
					}
				}
			}
			.sys_flex {
				display: inline-flex;
				span {
					margin: auto;
				}
			}
			&.long{
				padding-left: 80px;
				.sys_navbar{
					width: calc(100% - 80px);
				}
			}
		}
	}
}
.caret_wrapper {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	height: 34px;
	width: 24px;
	vertical-align: middle;
	cursor: pointer;
	overflow: initial;
	position: relative;
	.sort_caret {
		width: 0;
		height: 0;
		border: 5px solid transparent;
		position: absolute;
		left: 7px;
		&.ascending {
			border-bottom-color: #c0c4cc;
			top: 5px;
		}
		&.descending {
			border-top-color: #c0c4cc;
			bottom: 7px;
		}
	}
}
</style>
